@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /*color Scheme Variables*/
    --light:  #f9f7e3; 
    --light-blue: #b5e2fa;
    --dark: #242d32;
    --medium-charcoal:  #404e5c;
    --red: #c0392b;
    --amber: #ffbf00;
    --medium-blue: #55c0cd;

}

/* webkit solution */
::-webkit-input-placeholder { 
  text-align:right; 
}

/* mozilla solution */
input:-moz-placeholder { 
  text-align:right; 
}


body {
  background: var(light);
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(dark-text);
}

