/* DashPagecss */
 


/* Center title and right-align checkbox */
.task-item-header {
  display: flex;
  justify-content: space-between; /* Aligns the title and checkbox to opposite ends */
  align-items: center;
  width: 100%;
}

/* Flex container for description and sticker with proper alignment */
.task-item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item-description img {
  margin-left: 8px; /* Adds a little space between the description and the sticker */
}

/*  to ensure task description takes available space */
.task-item-description p {
  flex-grow: 1;
}

.task-header {
   text-align: center;
   flex-grow: 1; /* Allow the header to take up available space */
}

.task-header-container {
    display: flex;
    align-items: center; /* Vertically align button and header */
    justify-content: flex-start; /* Aligns both to the left */
    gap: 10px; /* Adds space between button and header */
    width: 100%; /* Ensure full width of the container */
  }

.task-list-container {
    padding: 16px; /* Same as p-3 in Bootstrap */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    
  }

  .add-task-btn-container {
    margin-top: auto; /* Pushes button to the bottom */
  }

  /* .right-side-dash {
    border-left: 10px solid var(--dark); /* Thicker border */
    /* flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--light);
    display: flex;
    
  }  */
  
  /* .badge-list-container {
    
    padding: 16px; /* Same as p-3 in Bootstrap */
    /* width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Makes space between tasks and button */
  /* }   */


  /* .left-side-dash {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--light);
  } */

  /* Custom CSS for the checkbox */

  .custom-checkbox .form-check-input {
    border: 2px solid black;  /* Set the border color to black and thickness to 2px */
  }

  .custom-card-body {
    border: 3px solid #00ABE4;  /* Set the border thickness to 3px and color to #00ABE4 */
    border-radius: 8px;  /* Optional: Set border-radius for rounded corners */
  }

  .task-list-container {
    border: 3px solid #404e5c ;  /* Set the border thickness to 3px and color to #00ABE4 */
    border-radius: 8px;  /* Optional: Set border-radius for rounded corners */
  }


  /* RESPONSIVE STYLING */
  @media (max-width: 768px) {

  /* Make TaskList a carousel when on small devices */
 }

  

